.footer {
     margin-top: 80px;
     width: 100%;
     position: absolute;
   }
   
   .footer-top {
     width: 1200px;
     max-width: 100%;
     margin: 0 auto;
     height: auto;
   }
   
   .footer-top-column {
     padding-top: 50px;
     float: left;
     width: 24%;
     justify-content: space-between;
     margin-right: 5px;
   }
   
   .pcol2{
   
     padding-top: 10px;
     font-size: medium;
     padding-bottom: 10px;
     line-height: 1.5;
   }
   
   .link .link-col3{
   
     font-size: 17px;
     color: black;
     text-decoration: none;
   }
   
   .h3{
   
     font-family: Arial, Helvetica, sans-serif;
     font-size: 16px;
     padding-bottom: 15px;
   }
   
   .link .link-col3:hover{
     color:red;
   
   }
   
   /*-------column1---------*/
   
   #brand{
     margin-top: 5px;
   
     font-family: Arial, Helvetica, sans-serif;
     font-size: 19px;
   }
   
   .footer-icon {
     text-align: center;
     font-size: 25px;
     width: 50%;
     height: auto;
     padding-top: 15px;
     padding-bottom: 15px;
     background-color: red;
     color: white;
     border-radius: 5px;
   }
   
   /*-------column2---------*/
   .phone-support {
     font-size: 35px;
     font-family: Arial, Helvetica, sans-serif;
     color: red;
     padding-top: 15px;
     padding-bottom: 15px;
   }
   
   .ul-list .link{
     padding-bottom: 10px;
   }
   ul{
   
     font: none;
     list-style: none;
     padding: 0;
   }
   
   .footer-social-logo {
     width: 100%;
   }
   
   .social-logo {
     float: left;
   }
   
   .inner-icon {
     margin-top: 0px;
     color: black;
     margin-right: 30px;
     width: 25px;
     height: 25px;
   }
   
   .h4{
   
     font-family: Arial, Helvetica, sans-serif;
     font-size: 15px;
     padding-top: 10px;
     padding-bottom: 10px;
   }
   
   /*---------column3------*/
   .footer-paymentmethods {
     width: 100%;
   }
   
   .container-paymentmethods {
     margin-top: -10px;
     height: 110px;
     margin-left: 0;
   }
   
   .link-paymentmethod {
     width: 25%;
     height: 46.08px;
     float: left;
     margin-left: 0px;
     margin-right: 5px;
   }
   
   .link-paymentmethod img {
     margin-top: 0px;
     width: 100%;
     height: 100%;
     border-radius: 2px;
   }
   
   /*---------column4------*/
   .protected {
     height: 46px;
     width: 48%;
     border-radius: 5px;
     margin-left: 5px;
   }
   
   #dmca {
     margin-top: -9px;
   }
   
   @media only screen and (min-width:740px) and (max-width:1024px) {
     .footer-icon {
       width: 85%;
     }
   
     .footer-top-column {
       width: 23%;
       margin-left: 5px;
     }
   }
   
   @media only screen and (max-width:740px) {
     .footer-icon {
       width: 85%;
     }
   
     .footer-top-column {
       width: 47%;
       float: left;
       margin-left: 5px;
     }
   }